.box {
  height: calc(100vh - 300px);
  min-height: 380px;
  margin: 0 15px 15px;
}

.checkBoxTitle {
  font-size: $font-size-small;
  color: $text-secondary-color;
}

.noDataText {
  transform: translate(50%, 50%);
}

.checkboxGroup {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4px;
}

.chartContainer {
  width: 100%;
  height: calc(100% - 50px);
  &.noData {
    border: 1px dashed $gray-color;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    height: calc(100% - 65px);
  }
}
